<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    {% include "menu.html" %}
    <div class="center">
        <h3>Categorias</h3>
    </div>

    <div class="row">
        <div class="col l11 offset-l2">

            <div class="input-field col s6 m4">
                <i class="material-icons prefix">search</i>
                <input id="buscar" type="text" name="busqueda"/>
                <label for="buscar">Buscador</label>
            </div>

            <div class="input-field col s6 m4">
                <button type="submit" class="btn waves-effect green tooltipped" data-tooltip="Buscar"><i class="material-icons">check_circle</i></button>
            </div>

            <div class="input-field  col s12 m4">
                <a href="{% url 'shop:AgregarCa'%}" class="btn waves-effect indigo tooltipped" data-tooltip="Agregar"><i class="material-icons">add_circle</i></a>
            </div>
        </div>
        
    </div>
    
    <center>
        <div class="container">
            <table class="striped">
                <thead>
                  <tr>
                      <th>Nombre de la Categoria</th>
                      <th>Slug</th>
                  </tr>
                </thead>
        
                <tbody>
                {% for Category in cate %}
                  <tr>
                    <td>{{Category.name}}</td>
                    <td>{{Category.slug}}</td>
                    <td>
                        <a href="{% url 'shop:edica' Category.pk %}" class="btn waves-effect blue tooltipped modal-close" data-tooltip="Editar"><i class="material-icons">mode_edit</i></a><br><br>
                        <a href="{% url 'shop:elca' Category.pk %}" class="btn waves-effect red tooltipped modal-close" data-tooltip="Cancelar"><i class="material-icons">cancel</i></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>

    </center>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                M.AutoInit();
            });
        </script>
</body>
</html>