<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    {% include "menu.html" %}
    {% load crispy_forms_tags %}


    <div class="center">
        <h2>Editar Producto</h2>
    </div>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <br><br><br><br>
            <div class="center">
                <button type="submit" class="btn waves-effect blue tooltipped" data-tooltip="Editar"><i class="material-icons">save</i></button>
                <a href="{% url 'shop:Productos'%}" class="btn waves-effect red accent-4 tooltipped" data-tooltip="Canelar"><i class="material-icons">cancel</i></a>
            </div><br><br>
          </form>
        
    </div>

    




    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
        });
    </script>
</body>
</html>