{% extends 'shop/base.html' %}
{% load static %}



  
{% block content %}

<br><br><br>

<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">monetization_on</i>Devolución de dinero</div>
      <div class="collapsible-body"><span>En caso de que si producto no llege en las condiciones de la fotos o simplemente no le llege puede hacer una reclamacion de devolución de dinero mandado un correo electronico al correo mynstrore@gmail.com </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">local_shipping</i>No me llega mi prodcto</div>
      <div class="collapsible-body"><span>En estos caso lo mejor que puede hacer es llamar a nuestro soporte técnico al numero 22334455 para que le den impormacion de de producto o productos</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Que es M&NPrime</div>
      <div class="collapsible-body"><span>M&NPrime es una cuenta especial en la cual si esta suscrito tus proctos de llegaran mas rapido y tendras promociones especialies (Esta funcion esta en desarrollo esperala)</span></div>
    </li>
  </ul>

  <br><br><br>

{% endblock %}

