{% extends 'shop/base.html' %}
{% load static %}



  
{% block content %}

<br><br><br>



    <div class="row">
    <!-- Mision-->
    <div class="col s6">
      <div class="center"> <i class="large material-icons green-text">extension</i></div>
      <div class="center"> <h3><b>Nuestra mision:</b> </h3></div>
      <p>Proveer o brindar objetos para hacer deportes a personas que realizan dichas actividades sin importar el deporte u objetos que se quiera.</p>
    <p>•	Que: entregar objetos deportivos de la mayor calidad en un solo lugar y también con envíos domicilios </p>
     <p>•	Quien: orientado a las personas que practican cualquier deporte</p>
    <p>•	Como: mediante la compra y venta de productos deportivos y a su vez en las ventas en línea de nuestros productos
    </p>
    </div>
    <!-- Vision-->
    <div class="col s6">
    <div class="center"> <i class="large material-icons green-text">extension</i></div>
      <div class="center"> <h3><b> Nuestra vision:</b></h3></div>
      <p class="center">Nuestra visión es convertirnos en una empresa grande de venta y distribución de productos deportivos conocidos y poco conocidos, siendo reconocida como la mejor en nuestra área de ventas y la gente nos elija por nuestros excelentes precios y calidad en nuestros productos y así ir creciendo poco a poco hasta llegar a vender a otros países y cumplir con nuestro propósito con responsabilidad, dedicación, esfuerzo y paciencia. </p><br>
    </div>
    
    
    </div>
        
    </div>



<br><br><br>

{% endblock %}
